body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  /* ESTILIZAÇÃO DOS BOTÕES */
  
  button {
    background-color: #45a049;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    margin: 10px;
  }
  
  .botoes-adm {
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* ESTILIZAÇÃO DA TABELA */
  
  table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  