body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  /* ESTILIZAÇÃO DOS BOTÕES */
  
  .button {
    background-color: #45a049;
    color: white;
    border-radius: 4px;
    padding: 10px; 
    text-decoration: none; 
    display: inline-block; 
    margin: 0; 
}

.botoes-adm {
    margin-top: 50px;
    padding: 10px;
    width: 15%;
    margin-left: 52%;
    margin-bottom: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes-adm a {
    color: #fff;
    font-size: 18px;
}

.botoes-adm a:hover {
    text-decoration: underline;
    background-color: #45a049;
}

  
  /* ESTILIZAÇÃO DA TABELA */
  
  table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  